<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form class="signUpForm" id="loginForm" action="/account/login" method="post">
    <label for="account_email">Email:</label>
    <input type="email" name="account_email" id="account_email" required required placeholder="Enter a valid email address" value="<%= locals.account_email %>">
    <label for="account_password">Password:</label>
    <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <p>Passwords must be a minimum of 12 characters and include 1 capital letter, 1 number, and 1 special character.</p>
    <span class="passwordToggle">Show Password</span>

    <button type="submit" class="formButton">Login</button>
    <p>No account? <a href="/account/register">Sign-Up</a></p>
</form>