<h1>Welcome to CSE Motors!</h1>
<div class="banner">
    <h4>DMC Delorean</h4>
    <p>Cup Holders</p>
    <p>Superman Doors</p>
    <p>Fuzzy Dice</p>
</div>
<div id="hero">
    <div id="hero-box">
        <img id="hero-img" src="/images/vehicles/delorean.jpg" alt="photo of a delorean">
    </div>
</div>

<div class="information">
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feelin Marty McFly" (5/5)</li>
            <li>"the most futuristic ride of our day." (4/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-grid">
            <figure>
                <picture class="upgrade">
                    <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
                </picture>
                <p>Flux Capacitor</p>
            </figure>
            <figure>
                <picture class="upgrade">
                    <img src="/images/upgrades/flame.jpg" alt="flame sticker">
                </picture>
                <p>Flame Decals</p>
            </figure>
            <figure>
                <picture class="upgrade">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
                </picture>
                <p>Bumper Sticker</p>
            </figure>
            <figure>
                <picture class="upgrade">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub caps">
                </picture>
                <p>Hub Caps</p>
            </figure>
        </div>
    </div>
</div>
