<img src="../images/site/checkerboard.jpg" alt="checkered background" class="background">
<h1 class="main_title">Welcome to CSE Motors!</h1>

<%- messages() %>

<div class="div_container">
    <div class="hero_div">
        <div class="hero_pro">
            <h1 class="hero_title">DMC Delorean</h1>
            <p class="hero_p">3 Cup holders</p>
            <p class="hero_p">Superman doors</p>
            <p class="hero_p">Fuzzy dice!</p>
            <img src="../images/site/own_today.png" alt="Own Today" class="hero_button">
        </div>
        <img src="../images/vehicles/delorean.jpg" alt="" class="hero_img">
    </div>
    <div class="review_div">
        <h1 class="review_title">DMC Delorean Reviews</h1>
        <ul class="review_list">
            <li class="review">"So fast it's almost like traveling in time." (4/5)</li>
            <li class="review">"Coolest ride on the road." (4/5)</li>
            <li class="review">"I'm feeling McFly!" (5/5)</li>
            <li class="review">"The most futuristic ride of our day." (4/5)</li>
            <li class="review">"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div class="upgrade_div">
        <h1 class="upgrade_title">Delorean Upgrades</h1>
        <div class="upgrade_img_container">
            <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor" class="upgrade_img">
        </div>
        <div class="upgrade_img_container">
            <img src="../images/upgrades/flame.jpg" alt="Flame Decal" class="upgrade_img">
        </div>
        <p class="upgrade_p">
            <a href="#" class="upgrade_link">Flux Capacitor</a>
        </p>
        <p class="upgrade_p">
            <a href="#" class="upgrade_link">Flame Decals</a>
        </p>
        <div class="upgrade_img_container">
            <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker" class="upgrade_img">
        </div>
        <div class="upgrade_img_container">
            <img src="../images/upgrades/hub-cap.jpg" alt="Hub Cap" class="upgrade_img">
        </div>
        <p class="upgrade_p">
            <a href="#" class="upgrade_link">Bumper Stickers</a>
        </p>
        <p class="upgrade_p">
            <a href="#" class="upgrade_link">Hub Caps</a>
        </p>
    </div>
</div>